.campo{
    margin:2%;
}
.termos{
    border: groove;
    background-color: #787676;
    width: 95%;
}
#texto{
    font-family: MathJax_Typewriter;
    color: white;
    margin-left:7%;
}
#textotermos{
    font-family: MathJax_Typewriter;
    color: white;
}
.aceito{
    margin-left: 20%;
}
