.table-responsive{
    margin-top: 20%;
    width: 80%;
    border-collapse: collapse;
    margin-right: 2.5%;
    background-color: #787676;
    position: relative;
}
#jogo{
   margin-left: 0%;

}
#ranking{
    width: 42%;
    margin-right: 50%;
}
#titulojogo{
    margin-left: 20%;
}
#titulorank{
    margin-left: 20%;
}
#campo{
    padding-left: 15%;
}   
#x{
    padding-left: 4%;
}
#titulo1{
    margin-left: -16%;
}
#texto{
margin-left:7%;
    font-family: MathJax_Typewriter;
    color: white;
    }
#top{
    position: relative;
    margin-left: 3%;
    border-radius: 10px;
}
#img-p{
    margin-left: 21%;
}
#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}

#textotab{
    color: white;
}
#noticia{

    width: 70%;
    margin-top: 5%;
    margin-left: 5%;
}
#texto_noticia{
    margin-left: 2%;
    color:white;
}
.flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25),
    inset 0 1px rgba(0,0,0,0.25);
}
.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
}
.flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
}
.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-1 {
    background: #336ca6;
}
.flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
}