.table-responsive{
    width: 90%;
    border: groove;
    margin-right: 2.9%;   
    background-color: #F0FFF0;
    position: relative;
}
#jogo{
   margin-left: 8%;
    border-radius: 10px;
}
#titulo{
    margin-left: 20%;
}
#campo{
    padding-left: 15%;
}   
#x{
    padding-left: 4%;
}
#titulo1{
    margin-left: -16%;
}
#texto{
margin-left:7%;
    font-family: MathJax_Typewriter;
    color: white;
    }
#top{
    position: relative;
    margin-left: 3%;
    border-radius: 10px;
}
#img-p{
    margin-left: 21%;
}
#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}
#cardfodase{
    border: solid;
    width: 20%;

}
