#estilobotaoadmin{
    margin-left: -100%;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #0f0f0f;
}
#texto{
    font-family: MathJax_Typewriter;
    color: white;
    margin-left:7%;
}
#loginesenha{
    margin-left: 10%;
    
}